.bigboxred {
  height: 300px;
  width: 300px;
  background-color: #ff0000;
  display: block;
  margin: 15px;
}

.purplebox {
  height: 150px;
  width: 150px;
  background-color: #83067B;
  margin-right: auto;
  position: relative;
  left: 75px;
  top: 75px;
}

.yellow {
  height: 75px;
  width: 75px;
  background-color: #FFFD56;
}

.bigboxblue {
  height: 300px;
  width: 300px;
  background-color: #0720F4;
  margin: 15px;
}

.greenbox {
  height: 150px;
  width: 150px;
  background-color: #007F25;
  position: relative;
  left: 75px;
  top: 75px;
}

.blackbox {
  height: 75px;
  width: 75px;
  background-color: #000000;
  position: relative;
  bottom: 150px;
}
